@import url("/public/shared/variables.css");
@import url("/public/shared/base.css");

:root {
  --bg-rgb: 24, 24, 37;
}

html {
  scrollbar-gutter: initial;
  background-color: rgb(var(--bg-rgb));
  color: #fff;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: rgb(var(--bg-rgb));

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.right-content {
  flex: 1;
  margin: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  max-width: 505px;

  &::after {
    content: "";
    top: 59px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    height: 90px;
    background: linear-gradient(to top, rgba(var(--bg-rgb), 0) 0%, rgba(var(--bg-rgb), 1) 100%);
  }

  &::before {
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    height: 90px;
    background: linear-gradient(to bottom, rgba(var(--bg-rgb), 0) 0%, rgba(var(--bg-rgb), 1) 100%);
  }

  @media (max-width: 900px) {
    display: none;
  }
}

.right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
}

.tabs {
  display: flex;
  gap: 20px;
}

.tab {
  background: none;
  border: none;
  color: rgba(255, 255, 255, .68);
  font-size: 15px;
  cursor: pointer;
  padding: 0;
  width: auto;
  margin: 0;
  box-shadow: none;
}

.tab.active {
  color: #a29bfe;
  font-weight: 500;
}

.continue-anon {
  color: rgba(255, 255, 255, .46);
  text-decoration: none;
  font-size: 13px;
  transition: color 0.2s;
}

.continue-anon:hover {
  color: #fff;
}

.recent-tweets-container {
  flex: 1;
  overflow-y: auto;
  padding: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tweet-stream {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #71767b;
  font-size: 16px;
}

.recent-tweets-container .tweet {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: auto;
  position: relative;
  transition: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: var(--bg-primary);
  border: 1px solid var(--border-secondary);
  border-radius: 12px;
  padding: 16px;

  .tweet-header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14.95px;
    position: relative;

    img {
      width: 40px;
      border-radius: 50%;
      cursor: pointer;
    }

    .tweet-header-info {
      display: flex;
      flex-direction: column;

      &:hover .name {
        text-decoration: underline;
      }

      p {
        margin: 0px;
        display: flex;
        align-items: center;
        gap: 2px;

        &.name {
          font-weight: 500;
          margin-bottom: -4px;
          cursor: pointer;

          .tweet-header-username-span {
            color: var(--text-secondary);
            font-weight: 400;
            margin-left: 2px;
          }
        }

        &.username {
          color: var(--text-secondary);
          cursor: pointer;
        }
      }
    }
  }

  .tweet-content {
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-primary);
    overflow: hidden;
    max-width: 100%;
    overflow-wrap: break-word;

    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    a,
    .tweet-ellipsis {
      color: var(--primary);
      text-underline-offset: 3px;
      text-decoration: underline;
      cursor: pointer;

      &.tweet-ellipsis {
        text-decoration: none;
      }

      &:hover {
        text-decoration: none;

        &.tweet-ellipsis {
          text-decoration: underline;
        }
      }
    }
  }

  .tweet-attachments {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;

    img,
    video {
      max-width: 100%;
      max-height: 200px;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  .tweet-interactions {
    display: flex;
    gap: 14px;
    user-select: none;
    margin-top: 8px;

    button {
      padding: 0px;
      border: none;
      background-color: transparent;
      color: var(--text-secondary);
      cursor: default;
      font-size: 15px;
      font-family: inherit;
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;
      pointer-events: none;
      width: fit-content;
      margin: 0;
      font-weight: 400;

      svg {
        transition: color 0.15s;
        z-index: 5;
        position: relative;
      }

      &.engagement {
        transition: transform 0.2s;
      }

      &:last-child {
        margin-left: auto;
      }
    }
  }

  .tweet-ellipsis {
    color: var(--primary);
    cursor: pointer;
    pointer-events: auto;

    &:hover {
      text-decoration: underline;
    }
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 60px 80px;
  width: 100%;

  @media (max-width: 900px) {
    padding: 24px;
    overflow-y: auto;
  }
}

.auth-header {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 80px;

  @media (max-width: 900px) {
    margin-bottom: 40px;
  }
}

.logo {
  width: 40px;
  height: 40px;
  color: #a29bfe;
  fill: currentColor;
}

.auth-nav {
  display: flex;
  gap: 12px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  font-size: 50px;
  max-width: 621px;
  line-height: 1.1;
  margin: 0 0 24px 0;
  font-family: "Really Sans Large", system-ui, -apple-system, sans-serif;

  @media (max-width: 900px) {
    font-size: 36px;
  }
}

.desc {
  font-size: 24px;
  color: #C7C3D8;
  margin: 0 0 48px 0;
  line-height: 1.4;

  @media (max-width: 900px) {
    font-size: 20px;
  }
}

.auth-actions {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 80px;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}

.create-account {
  background-color: #AC97FF;
  color: #000;
  padding: 15.31px 27.92px;
  border-radius: 30px;
  font-size: 17px;
  display: flex;
  align-items: center;
  padding-right: 22px;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  gap: 10px;
  transition: opacity 0.1s, transform .2s;

  svg {
    transition: transform .2s;
  }

  &:hover {
    opacity: 0.9;

    svg {
      transform: translate(2px, 0px)
    }
  }

  &:active {
    transform: scale(.98)
  }
}

.log-in {
  color: #fff;
  font-size: 17px;
  padding: 10px;
}

.log-in:hover {
  text-decoration: underline;
}

.note {
  font-size: 13px;
  color: #636e72;
  line-height: 1.5;
  max-width: 400px;
}

.note a {
  color: #b2bec3;
  text-decoration: underline;
}


.model-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--bg-primary);
  align-items: center;
  display: none;
  transition: opacity .3s;
  flex-direction: column;

  .badge-holder {
    position: fixed;
    top: 0px;
    height: 140px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    transition: margin-top .6s cubic-bezier(0.33, 1, 0.68, 1), opacity .6s;
    z-index: 50;
  }

  .close {
    position: fixed;
    top: 12px;
    right: 0px;
    padding: 0px;
    width: 30px;
    height: 30px;
    border: none;
    color: var(--text-placeholder);

    &:hover {
      color: var(--text-primary);
    }
  }

  .modal {
    background: var(--btn-secondary-hover-bg);
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    margin-top: 115px;
    max-height: calc(95vh - 140px);
    overflow-y: auto;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: margin-top .6s;
    z-index: 40;

    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a,
      0 0 0 1px #1e293b, 0 8px 24px rgba(0, 0, 0, 0.2);
    padding-top: 41px;

    fieldset {
      border: 2px solid var(--border-secondary);
      border-block-end: 0;
      border-inline: 0;
      text-align: center;
      width: calc(100% - 50px);
      margin-top: 3px;

      legend {
        padding-inline: 0.8em;
        font-size: 1.4rem;
      }
    }

    .list {
      margin-top: 6px;
      max-width: 400px;
      text-align: left;
      width: 100%;
      padding-left: 15px;

      ul {
        padding: 0px;
        margin: 0px;

        li {
          margin-bottom: 8px;
          font-size: 15px;
          color: var(--text-primary);

          &::marker {
            color: var(--text-placeholder);
          }

          a {
            color: var(--primary)
          }
        }

      }
    }

    .form-group {
      max-width: 400px;
      text-align: left;
      margin-bottom: 20px;
      width: 100%;

      label {
        display: block;
        font-weight: 400;
        color: var(--text-primary);
        margin-bottom: 3px;
      }

      input {
        width: 100%;
        padding: 11.2px 17.92px;
        border: 1px solid var(--border-hover);
        border-radius: 11.2px;
        font-size: 22px;
        color: var(--text-primary);
        background: transparent;
        font-family: inherit;
        caret-color: var(--primary);

        &:focus {
          outline: none;
          border-color: var(--border-focus);
          box-shadow: 0 0 0 3px var(--border-focus);
        }

        &::placeholder {
          color: var(--text-placeholder);
          font-weight: 350;
        }

        &#create-username {
          border-style: dashed;
        }

        &#create-password {
          letter-spacing: 1.5px;
          background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22lucide%20lucide-key-icon%20lucide-key%22%3E%3Cpath%20d%3D%22m15.5%207.5%202.3%202.3a1%201%200%200%200%201.4%200l2.1-2.1a1%201%200%200%200%200-1.4L19%204%22%2F%3E%3Cpath%20d%3D%22m21%202-9.6%209.6%22%2F%3E%3Ccircle%20cx%3D%227.5%22%20cy%3D%2215.5%22%20r%3D%225.5%22%2F%3E%3C%2Fsvg%3E");
          background-position: 13px 50%;
          background-repeat: no-repeat;
          padding-left: 41px;
          background-size: 20px;
        }
      }
    }

    button {
      width: calc(100% - 2em);
      padding: 12px 16px;
      border: 1px solid var(--border-primary);
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
      font-family: inherit;
      background-color: var(--primary);
      color: var(--primary-fg);
      cursor: pointer;
      transition: transform 0.2s;
      margin: 1em;
      margin-top: 15px;

      &:hover {
        transform: scale(1.015);
      }

      &:active {
        transform: scale(1);
      }

      &:disabled {
        border-color: var(--border-secondary);
        background-color: var(--border-secondary);
        pointer-events: none;
      }
    }
  }

  a.cap-link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--text-placeholder);
    margin-top: 17px;
    font-size: 14px;

    svg {
      width: 18px;
      height: 18px;
    }

    strong {
      font-weight: 400;
      color: var(--text-secondary);
    }
  }

  @starting-style {
    & {
      opacity: 0;
    }

    .modal {
      margin-top: 85px;
    }

    .badge-holder {
      margin-top: -30px;
      opacity: 0;
    }
  }
}

.login-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity .2s;

  @starting-style {
    & {
      opacity: 0;
    }
  }

  .login-modal-content {
    position: relative;
    background: var(--bg-primary);
    border-radius: 16px;
    max-width: 455px;
    padding: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform .2s;
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a,
      0 0 0 1px #1e293b, 0 8px 24px rgba(0, 0, 0, 0.2);

    @starting-style {
      & {
        transform: scale(0.98);
      }
    }

    .logo {
      margin-top: 21px;
      width: 43px;
      height: 43px;
      margin-bottom: 0px;
    }

    .passkey-login {
      margin-top: 33px;
      margin-bottom: 23px;
      max-width: 330px;
      width: 100%;
      background-color: transparent;
      border: 1px solid var(--border-primary);
      color: var(--text-primary);
      border-radius: 8px;
      padding: 10px;
      font-weight: 500;
      transition: background-color 0.2s, transform 0.2s;

      &:hover {
        background-color: var(--btn-secondary-hover-bg);
        transform: scale(1.015);
      }

      &:active {
        transform: scale(0.98);
      }

      &:disabled {
        background-color: var(--border-primary);
        border-color: var(--border-primary);
        pointer-events: none;
        padding: 0px;
        box-shadow: none;
        height: 39px;
      }
    }

    .login-cancel-btn {
      width: 100%;
      padding: 12px 16px;
      background: transparent;
      color: var(--text-muted);
      border: none;
      border-radius: 100px;
      font-size: 16px;
      cursor: pointer;
      font-family: inherit;
      transition: transform 0.2s;
      margin-top: 0.5rem;

      &:hover {
        transform: scale(1.015);
        color: var(--text-primary);
      }

      &:active {
        transform: scale(0.97);
      }
    }

    .password-login-form {
      display: flex;
      flex-direction: column;
      gap: 0px;
      width: 100%;
      align-items: center;
      max-width: 330px;

      label {
        display: block;
        width: 100%;
        margin-bottom: 0.25em;
        font-weight: 400;
        font-size: 14px;
        color: var(--text-primary);
        transform-origin: center left;

        &[for="login-password"] {
          margin-top: 1.5em;
        }
      }

      input {
        padding: 11px 14px;
        border: 1px solid var(--border-secondary);
        border-radius: 6px;
        font-size: 16px;
        color: var(--text-primary);
        background: transparent;
        font-family: inherit;
        caret-color: var(--primary);
        width: 100%;
        margin-top: 2px;

        &:focus {
          outline: none;
          border-color: var(--border-focus);
          box-shadow: 0 0 0 2px var(--border-focus);
        }

        &::placeholder {
          color: var(--text-placeholder);
          font-weight: 350;
        }
      }

      .form-actions {
        width: 100%;
        margin-top: 8px;

        button {
          width: 100%;
          margin-bottom: 30px;
          background-color: var(--primary);
          color: var(--primary-fg);
          border-radius: 8px;
          padding: 12px;
          font-weight: bold;
          transition: transform 0.2s;

          &:hover {
            transform: scale(1.015);
          }

          &:active {
            transform: scale(0.98);
          }

          &:disabled {
            background-color: var(--border-primary);
            border-color: var(--border-primary);
            pointer-events: none;
            padding: 0px;
            box-shadow: none;
            height: 39px;
          }
        }

        .back-btn {
          position: absolute;
          top: 20px;
          right: 20px;
          border-radius: 500px;
          width: 30px;
          height: 30px;
          background-color: transparent;
          border: none;
          padding: 0px;
          color: var(--text-primary);

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

.note {
  line-height: 1.5;
  margin-top: 4em;
  color: var(--text-muted);
  user-select: none;
  font-size: 14px;

  a {
    color: var(--text-primary);
    text-decoration: underline;
  }
}


@font-face {
  font-family: "Really Sans Large";
  src: url("/public/shared/assets/fonts/reallysanslarge-ultra.woff2") format("woff2");
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}