:root {
  --primary: #1185fe;
  --primary-rgb: 17, 133, 254;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Tiktok Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  max-width: 500px;
  margin: 4em auto;
  color: #1a1a1a;
  font-size: 16px;
  font-variation-settings: "slnt" 0, "wdth" 100;
  line-height: 1.5;
  padding: 0 24px;
}

nav {
  position: fixed;
  top: 20px;
  right: 20px;

  .account {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 4px;

    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
  }
}

.icon {
  display: block;
  margin-bottom: 16px;
  color: var(--primary);
  fill: var(--primary);
}

h1 {
  font-weight: 500;
  font-size: 24px;
  margin: 10px 0 24px 0;
  user-select: none;

  a {
    text-decoration: none;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.25);

    &.active {
      color: #1a1a1a;
      pointer-events: none;
    }

    :hover {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}

.tweets {
  display: flex;
  flex-direction: column;
  gap: 26px;

  .tweet {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .tweet-header {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14.95px;

      img {
        width: 43px;
        height: 43px;
        border-radius: 50%;
      }

      .tweet-header-info {
        display: flex;
        flex-direction: column;

        p {
          margin: 0px;

          &.name {
            font-weight: 500;
            margin-bottom: -4px;
            display: flex;
            align-items: center;
            gap: 2px;
          }

          &.username {
            color: #6b7280;
          }
        }
      }
    }

    .tweet-content {
      font-size: 15.5px;
      line-height: 1.5;

      p {
        margin: 0px 0px 12px 0px;
      }

      p:first-child {
        margin-top: 0px;
      }

      p:last-child {
        margin-bottom: 0px;
      }

      strong,
      b {
        font-weight: 600;
      }

      a {
        color: var(--primary);
        text-decoration: underline;
        text-underline-offset: 3px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .tweet-interactions {
      display: flex;
      gap: 12px;
      user-select: none;

      button {
        padding: 0px;
        border: none;
        background: none;
        color: #344252;
        cursor: pointer;
        font-size: 15px;
        font-family: inherit;
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }

    .tweet-focused-reply {
      border-left: 2px solid #e3e5e7;
      margin-left: 14px;
      padding-left: 14px;

      .tweet {
        padding: 4px 0px;
        .tweet-header {
          img {
            width: 26px;
            height: 26px;
          }

          .tweet-header-info {
            flex-direction: row;
            gap: 6px;
          }
        }
      }
    }
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  transition: opacity 0.1s;
  display: flex;

  svg {
    width: 28px;
    height: 28px;
  }
}
