@import url("/public/shared/variables.css");
@import url("/public/shared/base.css");

body {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
}

.logo {
  margin: 0.8rem auto;
  margin-top: 3em;
  fill: currentColor;
}

h1 {
  font-size: 37px;
  text-align: center;
  line-height: 1.2;
  margin-top: 0px;
  font-weight: bold;
  font-family: "Really Sans Large", "chirp", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;
}

button {
  padding: 0.5em 1em;
  border-radius: 100px;
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
  width: fit-content;
  margin: 0px auto;
  cursor: pointer;
  transition: transform 0.2s;
  user-select: none;
  background-color: transparent;
  border: 1.5px solid var(--primary);
  color: var(--primary);
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.015);
  }
  &:active {
    transform: scale(0.97);
  }

  &.create-account {
    font-size: 19.8px;
    background-color: var(--primary);
    color: var(--primary-fg);
    margin-top: 2rem;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1),
      0px 0.5px 0.5px rgba(0, 0, 0, 0.15),
      inset 0px 1px 2px rgba(var(--primary-rgb), 0.3),
      inset 0px 0.5px 1px rgba(var(--primary-rgb), 0.3), 0 0 0 1px #1e293b,
      0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  }

  &.loading {
    background-color: var(--border-primary);
    border-color: var(--border-primary);
    pointer-events: none;
    padding: 0px !important;
    box-shadow: none;
    height: 46.8px;

    svg {
      animation: spin 1s steps(8, end) infinite;
    }
  }
}

.already {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  p {
    font-size: 16px;
    text-align: center;
    line-height: 1.7;
    user-select: none;
    color: var(--text-muted);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    border: none;
    padding: 0px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form p {
  font-size: 19.8px;
  text-align: center;
  margin-bottom: 6.1px;
  margin-top: 49.5px;
  line-height: 1;

  &:first-of-type {
    margin-top: 10px;
  }
}

.form input {
  max-width: 334px;
  width: 100%;
  margin: 0px auto;
  height: 50px;
  padding: 0.2em 0;
  border: none;
  border-bottom: 1px dashed currentColor;
  font-size: 26.4px;
  background-color: transparent;
  text-align: center;
  font-weight: bold;
  font-family: inherit;

  &:is(body:has(.create-account.loading) input) {
    color: var(--border-hover);
    pointer-events: none;
    border-color: var(--border-hover);
  }

  &::placeholder {
    color: transparent;
  }

  &:focus {
    outline: none;
    border-color: var(--primary);
    caret-color: var(--primary);
  }
}

@font-face {
  font-family: "Really Sans Large";
  src: url("/public/shared/assets/fonts/reallysanslarge-ultra.woff2")
    format("woff2");
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
