:root {
  color-scheme: light;

  --primary: rgb(var(--primary-rgb));
  --primary-rgb: 172, 151, 255;
  --primary-hover: #a08dee;
  --primary-focus: #9986e5;

  --primary-fg: black;

  --text-primary: #4c4f69;
  --text-secondary: #5c5f77;
  --text-tertiary: #7c7f93;
  --text-placeholder: #8c8fa1;
  --text-muted: #9ca0b0;
  --text-muted-hover: #6c6f85;

  --bg-primary: #eff1f5;
  --bg-rgb: 239, 241, 245;
  --bg-secondary: #e6e9ef;
  --bg-overlay: rgba(0, 0, 0, 0.05);
  --bg-overlay-light: rgba(0, 0, 0, 0.02);

  --border-primary: #ccd0da;
  --border-secondary: #dce0e8;
  --border-tertiary: #bcc0cc;
  --border-focus: var(--primary);
  --border-hover: #acb0be;
  --border-input: rgba(0, 0, 0, 0.12);

  --btn-secondary-color: #11111b;
  --btn-secondary-border: var(--border-input);
  --btn-secondary-hover-bg: #dce0e8;
  --btn-secondary-hover-border: var(--border-hover);
  --btn-disabled-bg: #bcc0cc;
  --btn-disabled-color: #bcc0cc;

  --error-color: #d20f39;

  --shadow-toast: rgba(0, 0, 0, 0.1);

  --toast-bg: var(--bg-primary);
  --toast-border: #ccd0da;
  --toast-action-bg: #1e66f5;
  --toast-action-color: #ffffff;
  --toast-content-color: #4c4f69;


  --animation-smooth:
    cubic-bezier(.19, 1, .22, 1);
  --animation-bounce:
    cubic-bezier(.15, 1, .75, 1.2);
  --animation-drawer:
    cubic-bezier(.32, .72, 0, 1);
}

* {
  scrollbar-color: #dce0e8 transparent;
  -webkit-tap-highlight-color: transparent;
}

.dark {
  color-scheme: dark;

  --primary-rgb: 172, 151, 255;
  --primary-hover: #a08dee;
  --primary-focus: #9986e5;

  --primary-fg: black;

  --text-primary: #cdd6f4;
  --text-secondary: #bac2de;
  --text-tertiary: #a6adc8;
  --text-placeholder: #9399b2;
  --text-muted: #bac2de;
  --text-muted-hover: #cdd6f4;

  --bg-primary: #181825;
  --bg-rgb: 24, 24, 37;
  --bg-secondary: #181825;
  --bg-overlay: rgba(0, 0, 0, 0.6);
  --bg-overlay-light: rgba(255, 255, 255, 0.05);

  --border-primary: #313244;
  --border-secondary: #45475a;
  --border-tertiary: #585b70;
  --border-focus: var(--primary);
  --border-hover: #6c7086;
  --border-input: rgba(255, 255, 255, 0.1);

  --btn-secondary-color: #11111b;
  --btn-secondary-border: var(--border-tertiary);
  --btn-secondary-hover-bg: #313244;
  --btn-secondary-hover-border: var(--border-hover);
  --btn-disabled-bg: #45475a;
  --btn-disabled-color: #6c7086;

  --error-color: #f38ba8;

  --shadow-toast: rgba(0, 0, 0, 0.4);

  --toast-bg: #181825;
  --toast-border: #313244;
  --toast-action-bg: #89b4fa;
  --toast-action-color: #1e1e2e;
  --toast-content-color: #cdd6f4;
}

.dark *,
.dark {
  scrollbar-color: #45475a transparent;
}

.tab-nav {
  display: flex;
  border-bottom: 1px solid var(--border-primary);
  position: relative;

  button,
  a {
    flex: 1;
    padding: 12px;
    background: none;
    border: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-secondary);
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    text-align: center;
    opacity: .7;
    transition: opacity 0.2s, color 0.2s;

    &:hover {
      color: var(--text-primary);
      opacity: 1;
    }

    &.active {
      color: var(--text-primary);
      pointer-events: none;
      opacity: 1;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: var(--primary);
    transition: transform 0.3s var(--animation-smooth), width 0.3s var(--animation-smooth);
    border-radius: 10px;
    width: var(--indicator-width, 0);
    transform: translateX(var(--indicator-left, 0));
  }
}